<div id="userdashboard_mobile" class="userdashboard-mobile">
	<div class="content-item">
		<h3>Inbound calls to mobile</h3>
		<p>Please pick a scenario to handle calls to your mobile number</p>
		<div class="row-fluid">
			<div class="span5">
				<select class="input-block-level">
					<option value="">Choose scenario</option>
					<option value="">Ring mobile, fall back to office</option>
					<option value="">Ring mobile, no voicemail</option>
					<option value="">Ring mobile, with voicemail</option>
					<option value="">Ring mobile and all other phones</option>
					<option value="">Custom callflow</option>
				</select>
				<fieldset class="input-block-level">
					<legend>Options</legend>
					<div>Options will be here</div>
				</fieldset>
			</div>
			<div class="span7">
				<textarea class="input-block-level" rows="5"></textarea>
			</div>
		</div>
	</div>

	<div class="content-item">
		<h3>Outbound calls from mobile</h3>
		<p>Please select which number is displayed for outbound calls from your mobile device</p>
		<div class="row-fluid">
			<div class="span5">
				<select class="input-block-level">
					<option value="">Pick number</option>
					<option value="some">2</option>
				</select>
			</div>
		</div>
	</div>
</div>
