<div id="user-features-out-of-office" class="user-features-out-of-office">
	<div class="content-item">
		<h3>{{ i18n.userdashboard.userFeatures.outOfOffice.title }}</h3>
		<p>Please pick a scenario for out of office</p>
		<div class="row-fluid">
			<div class="span5">
				<select class="input-block-level">
					<option value="">Choose scenario</option>
					<option value="">Voicemail, using a custom greeting</option>
					<option value="">Ring only mobile</option>
					<option value="">Go to office, jump to main callflow</option>
					<option value="">Go to another smartpbx user or group</option>
				</select>
				<fieldset class="input-block-level">
					<legend>Options</legend>
					<div>Options will be here</div>
				</fieldset>
			</div>
			<div class="span7">
				<textarea class="input-block-level" rows="5"></textarea>
			</div>
		</div>
	</div>
</div>
